.header-img{
    background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq");
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    top: 0;
    right: 0;
    height: auto;
    float: right; 
}

@media(max-width:1182px){
    .header-img{
        display: flex;
        margin: 0 auto 0 auto;
        flex-wrap: wrap;
    }
}
@media(max-width:1245px){
    .header-img{
        align-items: center; 
        text-align: center; 
    }
}
@media(max-width:1222px){
    .header-img{
        display: none;
    }
}
