.info-section{
    padding-top: 80px;
    justify-content: center;
    display: inline-block;
}
.info-h2{
    font-weight: 650;
    font-size: 35px;
}
.info-p{
    font-size: 18px;
    color: #7e808c;
}
.info-img{
    height: 80px;
}
@media(max-width:746px){
    .info-section{
        justify-content: center;
        text-align: center;
    }
    .pocket-images{
        display: none;
    }
}